@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";


@layer utilities {
  .bg-primario {
    background-image: linear-gradient(to bottom, var(--color-gray-100), var(--color-gray-200));
  }
  .bg-secundario {
    background-image: linear-gradient(to bottom, var(--color-gray-200), var(--color-stone-300));
  }
  .font-title {
    font-family: "Lora", serif;
  }
}
