@import "tailwindcss";

@theme {
  --color-neon: #b1e936;
  --color-neonblue: #080954;
  --color-grayblue: #e5e7eb;
  --color-lightblue: #2791d5;
  --breakpoint-xs: 400px;
}

@font-face {
  font-family: "RocaOne";
  src: url("./Assets/Fonts/roca-one-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "RocaOne", sans-serif;
}
